body {
    font-family: 'Diplomata SC', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/img_pollo_locco/img/desert-landscape-background-video-conferencing_23-2148656827.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
}

@font-face {
    font-family: 'Diplomata SC';
    src: local('') url(./fonts/DiplomataSC-Regular.ttf);
}



canvas {
    background-color: black;
    display: block;
    
}

@media only screen and (max-width: 1200px) {
    canvas {
        width: 100%;
        
    }
    .game-container {
        width: 100% !important;
        
    }
    .mobile-move-buttons {
    
        width: 100% !important;
    }
    .lost-game {
        width: 100% !important;
        
    }
    h1 {
        display: none;
    }
    
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .game-container {
        height: 100vh !important;
    }
    .lost-game {
        top: 10px;
    }
    

}

@media only screen and (max-width: 950px){
    .mobile-move-buttons {
        top: 78% !important;
    }
    .button-win {
        top: 80% !important;
    }
    .button-lost {
        top: 80% !important;
    }
}



@media only screen and (max-width: 1367px) {
    .mobile-buttons {
        height: 60px;
        color: black;
        font-weight: bold;
        font-family: 'Diplomata SC';
        font-size: 16px;
        width: 60px;
        background-color: orange;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        border-radius: 50px;
        border: 3px solid black;
        margin-top: 20px;
        z-index: 1000;
    }
    
    .mobile-move-buttons {
        width: 720px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 83%;
    }
    .instructions {
        display: none !important;
    }
    .lost-game{
        height: 100% !important;
        top: 0px !important;
    }
}

@media only screen and (min-width: 1367px) {
    .mobile-buttons {
        display: none;
    }
    
}

h1 {
    font-size: 64px;
    font-family: 'Diplomata SC';
    margin: 0;
    margin-top: -64px;
}

.startscreen {

    /* Center and scale the image nicely */
    background-image: url('./img_pollo_locco/img/9_intro_outro_screens/start/startscreen_2.png');
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.start-button {
    width: 80px;

}

.start-button:hover {
    width: 90px;
}

.d-none {
    display: none;
}

.win-game {
    background-image: url('./img_pollo_locco/img/9_intro_outro_screens/win/win_2.png');
    height: 505px;
    width: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 200;
    
    
}

.position-absolute {
    position: absolute;
}

.game-container {
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Nimmt die gesamte Breite des Bildschirms */
    max-width: 720px; /* Begrenze die maximale Breite */
    height: auto; /* Höhe passt sich dynamisch an */
    position: relative; /* Positionierung relativ zum Elternelement */
    margin: 0 auto; /* Zentriert den Container */
    
    
}

.button {
    height: 50px;
    color: red;
    font-weight: bold;
    font-family: 'Diplomata SC';
    font-size: 24px;
    width: 200px;
    background-color: orange;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-radius: 10px;
    border: 3px solid black;
    margin-top: 18px;
    z-index: 1000;
}



.instructions {
    width: 720px;
    display: flex;
    font-family: 'Diplomata SC';
    font-size: 20px;
    background-color: orange;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-top: 1px solid orange;
}



.button-win {
    position: absolute; /* oder relative */
    z-index: 1000; /* ein hoher Wert, damit es über allem anderen liegt */
    top: 99%; 
    left: 50%; /* Positionieren in der Mitte */
    transform: translateX(-50%); /* zentriert den Button horizontal */
}

.lost-game {
    background-image: url('./img_pollo_locco/img/9_intro_outro_screens/game_over/oh\ no\ you\ lost!.png');
    height: 505px;
    width: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 200;
    
    bottom: -1px;
}

.button-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}